{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <link rel="stylesheet" href="{% static 'app1/css/styleabout.css' %}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>About Us</title>
  </head>
  <body>
    <div class="team-section">
      <h1>Our Team</h1>
      <span class="border"></span>

    <div class="ps">
      <a href="#p1"><img src="{% static 'app1/images/[Your image name]' %}" alt="Image"></a>
      
    </div>  

    <div class="section" id="p1">
      <span class="name">Our Team</span>
      <span class="border"></span>
      <p align="center">
          <a href="#" class="fa fa-facebook"></a>
          <a href="#" class="fa fa-twitter"></a>
          <a href="#" class="fa fa-linkedin"></a>
          <a href="#" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-snapchat-ghost"></a>
      </p>
    </div>


  </div>

  </body>
</html>
